@import "../../styles.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    padding: 10px 20px; //you have to conside this padding(10px top and bottom) in your left and right bar
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    @include mobile {
      padding: 0px;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      @include mobile {
        background-color: themed("bg");
        height: 40px;
        padding: 0px;
        border-bottom: 1px solid themed("border");
        gap: 10px;
      }

      span {
        font-weight: bold;
        cursor: pointer;
        font-size: 30px;
        color: themed("logo");

        @include mobile {
          background-color: themed("bg");
          color: themed("logo");
          font-size: 15px;
        }
      }

      .search {
        display: flex;
        align-items: center;
        gap: 50px;
        border: 1px solid themed("border");
        padding: 5px;
        border-radius: 10px;
        @include mobile {
          background-color: themed("bg");
          width: 30px;
          display: flex;
          margin-left: 50px;
        }

        input {
          border: none;
          outline: none;
          width: 500px;
          background-color: transparent;
          color: themed("textColor");
          @include mobile {
            background-color: themed("bg");
            width: 100%;
            overflow: hidden;
          }

          @include tablet {
            width: 200px;
          }
        }

        &.active {
          @include mobile {
            position: absolute;
            width: 70%;
            top: 70px;
            cursor: pointer;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 30px;

      @include mobile {
        display: none;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;

        @include tablet {
          display: none;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        button {
          font-weight: 500;
          border: none;
          padding: 5px;
          background-color: #5271ff;
          color: white;
          cursor: pointer;
          border-radius: 3px;
        }

        .logout{
          font-weight: 500;
          border: none;
          padding: 5px;
          background-color: #f0544f;
          color: white;
          cursor: pointer;
          height: 30px;
          border-radius: 3px;
        }
      }
    }
  }
}
